<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Sonos</title>
    <meta name="viewport" content="initial-scale=1">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Sonos</h1>
    </header>

    <%= yield %>
  </body>
</html>
